body {
    background-color: black;
 }
 
 nav {
    background-color: white;
 }
 
 nav button {
    background-color: red;
    height: 30px;
 }
 
 nav button:hover {
    cursor: pointer;
    background-color: blue;
 }