@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body, {
    background-color: #281903;
    font-family: 'Abril Fatface', serif;
}

h1 {
    color: #683F83;
    font-size: 80px
}

.navone {
    background-color: #FFFFFF;
    border: 8px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: #A9a9a9 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 5px;
    padding: 0 90px;
    line-height: 70px;
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: none;
}

.button {
    font-size: 50px;
    text-decoration: none;
}

.navtwo {
    background-color: #FFFFFF;
    border: 8px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: #A9a9a9 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 5px;
    padding: 0 90px;
    line-height: 70px;
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: none;
}

.gif {
    margin-right: 20px;
    margin-top: 50px;
    opacity: .3;
}

h2 {
    color: #FFFFFF;
    font-size: 40px;
}